<%- include('../partials/adminHeader.ejs') %>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin_assets/imgs/theme/logo3.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/user_management"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Management</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product_management"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products Management</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/category_management"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Category Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order_management"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupen_management"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/sales_report"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Banner</span>
                    </a>
                </li>
               
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/logout"> 
                        <span class="text">Logout</span>
                    </a>
                 
                </li>
               
            </ul>
            <br>
            <br>
        </nav>
    </aside>

<!-- Modal -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm" method="post" action="/admin/category_management/:id">
                    <input type="hidden" id="categoryIdInput" name="categoryId">
                    
                    <div class="mb-3">
                        <label for="editCategoryName" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="editCategoryName" name="categoryName">
                        <div id="editCategoryNameError" class="invalid-feedback"></div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="editCategoryDiscount" class="form-label">Category Discount (%)</label>
                        <input type="number" class="form-control" id="editCategoryDiscount" name="categoryDiscount" min="0" max="100">
                        <div id="editCategoryDiscountError" class="invalid-feedback">Discount must be between 0 and 100.</div>
                    </div>
                    
                    <div class="mb-3 form-check">
                        <input type="radio" class="form-check-input" id="listUser" name="listStatus" value="Active">
                        <label class="form-check-label" for="listUser">Active</label>
                    </div>
                    
                    <div class="mb-3 form-check">
                        <input type="radio" class="form-check-input" id="unlistUser" name="listStatus" value="Inactive">
                        <label class="form-check-label" for="unlistUser">Inactive</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="validateForm($('#editCategoryModal #categoryIdInput').val())">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModalLabel">Delete Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure about deleting this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn" onclick="deleteCategory($('#categoryIdToDelete').val())">Delete</button>

            </div>
            <input type="hidden" id="categoryIdToDelete">
        </div>
    </div>
</div>




    <main class="main-wrap">
        <!-- <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header> -->
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/admin/category_management">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name" />
                                </div>
                                <% if(message){ %>
                                    <p style="color: red;"><%= message %></p>
                                    <% } %>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr> 
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Discount</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cat.forEach(function(cats) { %>
                                        <tr id="categoryRow-<%= cats._id %>"> 
                                            <td class="categoryName"><b><%= cats.name %></b></td>
                                            <td class="categoryStatus"><b><%= cats.isListed %></b></td>
                                            <% if(cats.discount) { %>
                                                <td class="categoryDiscount"><b><%= cats.discount %></b></td>
                                            <%}else {%>
                                                <td class="categoryDiscount"><b>Nil</b></td>
                                            <%}%>
                                            <td>
                                                <button style="color: white;" class="btn btn-success btn-sm" id="edit-category-btn" onclick="showEditModal('<%= cats._id %>', '<%= cats.name %>', '<%= cats.isListed %>','<%=cats.discount %>')" data-category-id="<%= cats._id %>">Edit</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" onclick="showDeleteModal('<%= cats._id %>')">Delete</button>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
        //--Edit modal
        function showEditModal(categoryId, categoryName, isListed, discount) {
    $('#editCategoryModal #categoryIdInput').val(categoryId);   
    $('#editCategoryName').val(categoryName);
    $('#editCategoryNameError').empty();
    $('#editCategoryDiscount').val(discount);  // Set the discount value

    if (isListed === 'Active') {
        $('#listUser').prop('checked', true);
    } else {
        $('#unlistUser').prop('checked', true);
    }
    
    $('#editCategoryModal').modal('show');
}

    function validateForm(categoryId) {
    const discountInput = document.getElementById('editCategoryDiscount');
    const discountError = document.getElementById('editCategoryDiscountError');
    const discountValue = parseFloat(discountInput.value);

    if (isNaN(discountValue) || discountValue < 0 || discountValue > 100) {
        discountInput.classList.add('is-invalid');
        return false;
    } else {
        discountInput.classList.remove('is-invalid');
        saveChanges(categoryId)
    }
}


    //--=function for handling changes
    function saveChanges(categoryId) {
        const categoryName = $('#editCategoryName').val();
        const isListed = $('input[name="listStatus"]:checked').val();
        const categoryDiscount = $('#editCategoryDiscount').val();
        console.log(categoryName);
        console.log(isListed);
       

        fetch(`/admin/category_management/${categoryId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: categoryName, isListed,discount:categoryDiscount }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const row = $(`#categoryRow-${categoryId}`);
                row.find('.categoryName').text(categoryName);
                row.find('.categoryDiscount').text(categoryDiscount + '%');
                const status = isListed === 'Active' ? 'Active' : 'Inactive';
                row.find('.categoryStatus').text(status); 
            } else {
                console.error('Failed to update category:', data.message);
                if (data.error === 'category_exists') {
                $('#editCategoryNameError').text('Category already exists');
            } else {
                // Handle other errors
            }
                // Handle error 
            }
            location.reload('/admin/category_management');
            $('#editCategoryModal').modal('hide');
        })
        .catch(error => {
            console.error('Error updating category:', error);
            // Handle error  
        })  ;

      
    }
    //show delete Modal
    function showDeleteModal(categoryId) {
        $('#categoryIdToDelete').val(categoryId);
        $('#deleteCategoryModal').modal('show'); 
        
    }

     // Function to delete category
     function deleteCategory(categoryId) {
        console.log(categoryId);
        fetch(`/admin/delete_category/${categoryId}`, {
            method: 'POST', // Change method to POST
            headers: {
                'Content-Type': 'application/json'
            }
            // body: JSON.stringify({}) // Send softDelete flag
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Remove category from UI
                $(`#categoryRow-${categoryId}`).remove();
            } else {
                console.error('Failed to delete category:', data.message);
                // Handle error 
            }
            $('#deleteCategoryModal').modal('hide');
        })
        .catch(error => {
            console.error('Error deleting category:', error);
            // Handle error  
        });
    }


    </script>
    
    <%- include('../partials/adminFooter.ejs') %>