<%- include('../partials/adminHeader.ejs') %>
<style>
    .error-message {
        color: red;
        font-size: 0.875em;
    }

    </style>
<body>
<!-- Modal Structure -->


<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponModalLabel">Create New Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="couponForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="couponName">Coupon Name</label>
                            <input type="text" class="form-control" id="couponName" placeholder="Enter coupon name">
                            <div class="error-message" id="couponNameError"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="couponCode">Coupon Code</label>
                            <input type="text" class="form-control" id="couponCode" placeholder="Enter coupon code">
                            <div class="error-message" id="couponCodeError"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="discountAmount">Discount Amount</label>
                            <input type="number" class="form-control" id="discountAmount" placeholder="Enter discount amount">
                            <div class="error-message" id="discountAmountError"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" id="startDate">
                            <div class="error-message" id="startDateError"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" id="endDate">
                            <div class="error-message" id="endDateError"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="minimumAmount">Minimum Amount</label>
                            <input type="number" class="form-control" id="minimumAmount" placeholder="Enter minimum amount">
                            <div class="error-message" id="minimumAmountError"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusOptions" id="activeStatus" value="active">
                                <label class="form-check-label" for="activeStatus">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusOptions" id="inactiveStatus" value="inactive">
                                <label class="form-check-label" for="inactiveStatus">Inactive</label>
                            </div>
                            <div class="error-message" id="statusError"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin_assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/user_management"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Management</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product_management"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products Management</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category_management"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Category Management</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order_management"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active ">
                    <a class="menu-link" href="/admin/coupen_management"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupen</span>
                    </a>
                </li>
               
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
               
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <!-- <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="admin_assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="admin_assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="admin_assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="admin_assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="admin_assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header> -->
        <section class="content-main">
            <div class="content-header">
    <h2 class="content-title">Sellers list</h2>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#couponModal">
            <i class="material-icons md-plus"></i> Create new
        </button>
    </div>
</div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Discount Amount</th>
                                    <th>Start Date</th>
                                    <th>End date</th>
                                    <th>Status</th>
                                    <th>Minimum Amount</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% coupons.forEach(coupon => { %>
                                    <tr>
                                        <td><%= coupon.couponname %></td>
                                        <td><%= coupon.couponcode %></td>
                                        <td><%= coupon.discountamount %></td>
                                        <td><%= coupon.startDate.toDateString() %></td>
                                        <td><%= coupon.endDate.toDateString() %></td>
                                        <td><%= coupon.status %></td>
                                        <td><%= coupon.minimumamount %></td>
                                        <td class="text-end">
                                            <button class="btn btn-primary" onclick="changeStatus('<%= coupon._id %>')">Change Status</button>
                                            <button class="btn btn-danger" onclick="deleteCoupon('<%= coupon._id %>')">Delete</button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                       
                    </ul>
                </nav>
            </div>
            
        </section> <!-- content-main end// -->
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    // Function to set the minimum date to today
    document.addEventListener('DOMContentLoaded', (event) => {
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('startDate').setAttribute('min', today);
        document.getElementById('endDate').setAttribute('min', today);
    });


    document.getElementById('saveChangesButton').addEventListener('click', function() {
    // Clear previous error messages
    document.querySelectorAll('.error-message').forEach(el => el.textContent = '');

    // Get form values
    const couponName = document.getElementById('couponName').value.trim();
    const couponCode = document.getElementById('couponCode').value.trim();
    const discountAmount = document.getElementById('discountAmount').value;
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;
    const minimumAmount = document.getElementById('minimumAmount').value;
    const status = document.querySelector('input[name="statusOptions"]:checked');

    // Validation
    let isValid = true;

    if (!couponName) {
        document.getElementById('couponNameError').textContent = 'Coupon Name is required';
        isValid = false;
    }
    if (!couponCode) {
        document.getElementById('couponCodeError').textContent = 'Coupon Code is required';
        isValid = false;
    }
    if (discountAmount === '' || discountAmount < 0) {
        document.getElementById('discountAmountError').textContent = 'Discount Amount is required and should not be below zero';
        isValid = false;
    }
    if (!startDate) {
        document.getElementById('startDateError').textContent = 'Start Date is required';
        isValid = false;
    }
    if (!endDate) {
        document.getElementById('endDateError').textContent = 'End Date is required';
        isValid = false;
    }
    if (minimumAmount === '' || minimumAmount < 0) {
        document.getElementById('minimumAmountError').textContent = 'Minimum Amount is required and should not be below zero';
        isValid = false;
    }
    if (!status) {
        document.getElementById('statusError').textContent = 'Status is required';
        isValid = false;
    }

    if (isValid) {
        const couponData = {
            couponName,
            couponCode,
            discountAmount: Number(discountAmount),
            startDate,
            endDate,
            minimumAmount: Number(minimumAmount),
            status: status.value
        };

        // Perform the fetch operation
        fetch('/admin/add_coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(couponData)
        })
        .then(response => response.json())
        .then(data => {
            // Handle success or error response
            if (data.message === "Existing coupon") {
                document.getElementById('couponNameError').textContent = 'Coupon already exists';
            } else if (data.message === "Existing Discount") {
                document.getElementById('discountAmountError').textContent = 'Discount already exists';
            } else if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Coupon added successfully',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            }
           
            // You can add code here to close the modal and display a success message
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle the error
        });
    }
});

</script>

<script>
    function changeStatus(couponId) {
        // Add AJAX call or redirect to change status route
        console.log(couponId);
        fetch(`/admin/couponStatus?couponId=${couponId}`, {
            method: 'PUT'
        }).then(response => {
            if (response.ok) {
                location.reload();
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Something went wrong',
                    confirmButtonText: 'OK'
                })
            }
        });
    }

    function deleteCoupon(couponId) {
        // Add AJAX call or redirect to delete route
        fetch(`/admin/coupon_delete?couponId=${couponId}`, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                location.reload();
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Something went wrong',
                    confirmButtonText: 'OK'
                })
            }
        });
    }
</script>



<%- include('../partials/adminFooter.ejs') %>