<%- include('../partials/adminHeader.ejs') %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            margin-top: 20px;
        }
        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        td:last-child {
            text-align: center;
        }
        a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        a:hover {
            color: #0056b3;
        }

        .table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}

.center {
    text-align: center;
}

    </style>
<body>
    <h1>Order Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Payment Method</th>
                <th>Payment Status</th>
                <th>Shipping Address</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Order Status</th>
                <th>Product Image</th>
            </tr>
        </thead>
        <tbody>
            <% order.items.forEach(item => { %>
                <tr>
                    <td class="center"><%= order.orderId %></td>
                    <td class="center"><%= order.orderDate.toDateString() %></td>
                    <td class="center"><%= order.paymentMethod %></td>
                    <td class="center"><%= order.paymentStatus %></td>
                    <td class="center">
                        <% let shippingAddress = order.shippingAddress; %>
                        <%= shippingAddress.houseName %>, <%= shippingAddress.street %>, <%= shippingAddress.city %>, <%= shippingAddress.state %>, <%= shippingAddress.country %>, <%= shippingAddress.postalCode %>
                    </td>
                    <td class="center">$<%= item.productPrice.toFixed(2) %></td>
                    <td class="center"><%= item.quantity %></td>
                    <td class="center" data-input-id="<%= item._id %>"><%= item.status %></td>
                    <td class="center"><img src="/uploads/<%= item.image[0] %>" alt="Product Image" style="width: 100px; height: 120px;"></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    
</body>

<%- include('../partials/adminFooter.ejs') %>