<%- include('../partials/adminHeader.ejs') %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
    <!-- Modal Structure -->
    <style>
        .table-hover tbody tr:hover {
            background-color: #f1f1f1;
        }
        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }
        .product-item {
            border-bottom: 1px solid #dee2e6;
            padding: 4px 0;
        }
        .product-item:last-child {
            border-bottom: none;
        }
        .summary-row {
            font-weight: bold;
            background-color: #f8f9fa;
        }
        .btn-outline-primary {
            border-color:black;
            color: black;
        }
        .btn-outline-primary:hover {
            background-color: #088178;
            color: white;
            border-color: #088178;
        }
    </style>
    
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/admin_assets/imgs/theme/logo3.png" class="logo" alt="Evara Dashboard">
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item  ">
                        <a class="menu-link" href="/admin/user_management"> <i class="icon material-icons md-person"></i>
                            <span class="text">User Management</span>
                        </a>
                        
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/product_management"> <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products Management</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/category_management"> <i class="icon material-icons md-stars"></i>
                            <span class="text">Category Management</span> </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/order_management"> <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>
                    <li class="menu-item  ">
                        <a class="menu-link" href="/admin/coupen_management"> <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Coupon</span>
                        </a>
                    </li>
                    <li class="menu-item active ">
                        <a class="menu-link" href="/admin/sales_report"> <i class="icon material-icons md-add_box"></i>
                            <span class="text">Sales Report</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-stars"></i>
                            <span class="text">Banner</span>
                        </a>
                    </li>
                   
                </ul>
                <hr>
                <ul class="menu-aside">
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/logout"> 
                            <span class="text">Logout</span>
                        </a>
                     
                    </li>
                   
                </ul>
                <br>
                <br>
            </nav>
        </aside>
       <main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Sellers list</h2>
            <div>
                <button type="button" class="btn btn-primary" id="downloadExclButton">
                    <i class="material-icons md-plus"></i> Download Excel
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="downloadPdfButton">
                    <i class="material-icons md-plus"></i> Download PDF
                </button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-primary mr-5 filter-button" id="dailyButton">Daily</button>
                        <button type="button" class="btn btn-outline-primary mr-5 filter-button" id="weeklyButton">Weekly</button>
                        <button type="button" class="btn btn-outline-primary mr-5 filter-button" id="monthlyButton">Monthly</button>
                        <button type="button" class="btn btn-outline-primary mr-5 filter-button" id="yearlyButton">Yearly</button>
                        <div class="d-inline-block" style="width: auto;">
                            <label for="startDate">Start:</label>
                            <input type="date" id="startDate" class="form-control d-inline-block" style="width: auto;">
                        </div>
                        <div class="d-inline-block" style="width: auto;">
                            <label for="endDate">End:</label>
                            <input type="date" id="endDate" class="form-control d-inline-block mr-2" style="width: auto;">
                        </div>
                        <button type="button" class="btn btn-outline-primary filter-button" id="filterButton">Filter</button>
                    </div>
                    
                    <table class="table table-hover table-bordered" id="order-table">
                        <thead style="background-color: #088178; color: white;">
                            <tr>
                                <th>Date</th>
                                <th>Order No.</th>
                                <th>Customer</th>
                                <th>Products</th>
                                <th>Quantity Sold</th>
                                <th>Price</th>
                                <th>Discount Amount</th>
                                <th class="text-end">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.forEach(orders => { %>
                               
                                
                                <tr>
                                    <td><%= new Date(orders.orderDate).toLocaleDateString() %></td>
                                    <td><%= orders.orderId %></td>
                                    <td><%= orders.user.name %></td>
                                    <td>
                                        <% orders.items.forEach(item => { %>
                                            <div class="product-item"><%= item.title %></div>
                                        <% }) %>
                                    </td>
                                    <td>
                                        <% orders.items.forEach(item => { %>
                                            <div class="product-item"><%= item.quantity %></div>
                                        <% }) %>
                                    </td>
                                    <td>
                                        <% orders.items.forEach(item => { %>
                                            <div class="product-item"><%= item.productPrice.toFixed(2) %></div>
                                        <% }) %>
                                    </td>
                                    <td><%= orders.couponId ? orders.couponAmount.toFixed(2) : '0.00' %></td>
                                    <td class="text-end"><%= orders.billTotal.toFixed(2) %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                        <tfoot>
                            <tr class="summary-row">
                                <td colspan="6">Total Discount Amount:</td>
                                <td id="total-discount"><%= totalDiscountAmount %></td>
                                <td id="total-sales-amount" class="text-end"><%= totalSalesAmount %></td>
                            </tr>
                            <tr class="summary-row">
                                <td colspan="8">Sales Count: <span id="sales-count"><%= totalSalesCount %></span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
           
        </div>

        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                        </li>
                    <% } %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    
    </section>
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // function calculateTotals() {
    //     let salesCount = 0;
    //     let totalDiscount = 0;
    //     let totalSalesAmount = 0;

    //     document.querySelectorAll('#order-table tbody tr').forEach(row => {
    //         const discountCell = row.cells[6];
    //         const totalPriceCell = row.cells[7];

    //         const discount = parseFloat(discountCell.textContent) || 0;
    //         const totalPrice = parseFloat(totalPriceCell.textContent) || 0;

    //         salesCount++;
    //         totalDiscount += discount;
    //         totalSalesAmount += totalPrice;
    //     });

    //     document.getElementById('total-discount').textContent = totalDiscount.toFixed(2);
    //     document.getElementById('total-sales-amount').textContent = totalSalesAmount.toFixed(2);
    //     document.getElementById('sales-count').textContent = salesCount;
    // }

    // document.addEventListener('DOMContentLoaded', calculateTotals);


    document.addEventListener("DOMContentLoaded", function() {
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('startDate').setAttribute('max', today);
    document.getElementById('endDate').setAttribute('max', today);
});

    document.addEventListener('DOMContentLoaded', () => {
    let dailyFilter = document.getElementById("dailyButton");
    let weeklyFilter = document.getElementById("weeklyButton");
    let monthlyFilter = document.getElementById("monthlyButton");
    let yearlyFilter = document.getElementById("yearlyButton");
    let customFilterButton = document.getElementById("filterButton");

    dailyFilter.addEventListener("click", applyFilter);
    weeklyFilter.addEventListener("click", applyFilter);
    monthlyFilter.addEventListener("click", applyFilter);
    yearlyFilter.addEventListener("click", applyFilter);
    customFilterButton.addEventListener("click", applyFilter);
});

let activeButton;
let page=1;
    function applyFilter(event,page) {
        let filterType;

        console.log(page);

// Check if the event is triggered by a button or a pagination link
if (event.target.id) {
    filterType = event.target.id.replace('Button', '').toLowerCase();
    activeButton = event.target; // Store the active button element
} else if (event.target.getAttribute('data-filter-type')) {
    filterType = event.target.getAttribute('data-filter-type');
    // Retrieve the button element by ID only if not already set
    activeButton = activeButton || document.getElementById(filterType + 'Button');
}

console.log(`Filter Type: ${filterType}`);

    const startDateElement = document.getElementById("startDate");
    const endDateElement = document.getElementById("endDate");
        
    let start = startDateElement ? startDateElement.value : '';
    let end = endDateElement ? endDateElement.value : '';

    
   


    fetch(`/admin/filter_Report?filterType=${filterType}&startDate=${start}&endDate=${end}&page=${page}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`Network response was not ok: ${response.statusText}`);
        }
        return response.json();
    })
    .then(data => {
      
        updateTable(data.orders);
        updateSummary(data.totalDiscount, data.totalSalesAmount, data.salesCount);
        updatePagination(data.currentPage, data.totalPages, filterType, start, end);
        setActiveFilterButton(activeButton);
    })
    .catch(error => console.error('Error:', error));
}


function setActiveFilterButton(activeButton) {
    console.log(activeButton);
        document.querySelectorAll('.filter-button').forEach(button => {
            button.classList.remove('active');
        });
        activeButton.classList.add('active');
    }

    function updateTable(orders) {
        const tbody = document.querySelector("#order-table tbody");
        tbody.innerHTML = ''; // Clear existing rows

        orders.forEach(order => {
            let row = document.createElement('tr');

            let orderDate = new Date(order.orderDate).toLocaleDateString();
            let orderId = order.orderId;
            let customer = order.user.name;
            let products = order.items.map(item => `<div class="product-item">${item.title}</div>`).join('');
            let quantities = order.items.map(item => `<div class="product-item">${item.quantity}</div>`).join('');
            let prices = order.items.map(item => `<div class="product-item">${item.productPrice.toFixed(2)}</div>`).join('');
            let discountAmount = order.couponAmount ? order.couponAmount.toFixed(2) : '0.00';
            let totalPrice = order.billTotal.toFixed(2);

            row.innerHTML = `
                <td>${orderDate}</td>
                <td>${orderId}</td>
                <td>${customer}</td>
                <td>${products}</td>
                <td>${quantities}</td>
                <td>${prices}</td>
                <td>${discountAmount}</td>
                <td class="text-end">${totalPrice}</td>
            `;

            tbody.appendChild(row);
        });
    }

    function updateSummary(totalDiscount, totalSalesAmount, salesCount) {
        document.getElementById('total-discount').textContent = totalDiscount.toFixed(2);
        document.getElementById('total-sales-amount').textContent = totalSalesAmount.toFixed(2);  
        document.getElementById('sales-count').textContent = salesCount;
    }

    function updatePagination(currentPage, totalPages, filterType, startDate, endDate) {  
        const paginationArea = document.querySelector('.pagination');
        paginationArea.innerHTML = ''; // Clear existing pagination

        if (currentPage > 1) {
            paginationArea.innerHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="applyFilter({ target: { id: '${filterType}Button' } }, ${currentPage - 1})">Previous</a>
                </li>
            `;
        }

        for (let i = 1; i <= totalPages; i++) {
            paginationArea.innerHTML += `
                <li class="page-item ${currentPage === i ? 'active' : ''}">
                    <a class="page-link" href="#" onclick="applyFilter({ target: { id: '${filterType}Button' } }, ${i})">${i}</a>
                </li>
            `;
        }

        if (currentPage < totalPages) {
            paginationArea.innerHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="applyFilter({ target: { id: '${filterType}Button' } }, ${currentPage + 1})">Next</a>
                </li>
            `;
        }
        setActiveFilterButton(activeButton); 
    }

    
    const downloadPdf = document.getElementById('downloadPdfButton');

downloadPdf.addEventListener('click', () => {
    console.log("pdf",activeButton);
    const filterType = activeButton ? activeButton.id.replace('Button', '').toLowerCase() : 'daily';
    console.log(filterType);


     const startDateElement = document.getElementById("startDate");
    const endDateElement = document.getElementById("endDate");

    const currentPage = document.querySelector('.pagination .page-item.active') ? 
        document.querySelector('.pagination .page-item.active .page-link').textContent : 1;

        console.log("checking",currentPage);

        
    let startDate = startDateElement ? startDateElement.value : '';
    let endDate = endDateElement ? endDateElement.value : '';
    console.log("start:",startDate);
    console.log("end:",endDate);

    const queryParams = new URLSearchParams({
        filterType,
        startDate,
        endDate,
        page:currentPage
    });

    window.location.href = `/admin/download_pdf?${queryParams.toString()}`;
});

const downloadExcel = document.getElementById('downloadExclButton');

downloadExcel.addEventListener('click', () => {
    console.log("pdf",activeButton);
    const filterType = activeButton ? activeButton.id.replace('Button', '').toLowerCase() : 'daily';
    console.log(filterType);


     const startDateElement = document.getElementById("startDate");
    const endDateElement = document.getElementById("endDate");

    const currentPage = document.querySelector('.pagination .page-item.active') ? 
        document.querySelector('.pagination .page-item.active .page-link').textContent : 1;

        console.log("checking",currentPage);

        
    let startDate = startDateElement ? startDateElement.value : '';
    let endDate = endDateElement ? endDateElement.value : '';
    console.log("start:",startDate);
    console.log("end:",endDate);

    const queryParams = new URLSearchParams({
        filterType,
        startDate,
        endDate,
        page:currentPage
    });

    window.location.href = `/admin/download_excel?${queryParams.toString()}`;
});
</script>


<script>
   

</script>





<%- include('../partials/adminFooter.ejs') %>