<%- include('../partials/userHeader.ejs') %>
  <style>
    .product-cart-wrap {
  height: 500px;

  .product-grid-4 .row {
    margin-bottom: 30px; /* Adjust the value as needed */
  }
}

  </style>
  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"
            ><img src="user_user_assets/imgs/theme/logo.svg" alt="logo"
          /></a>
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-dress"></i>Women's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-tshirt"></i>Men's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-smartphone"></i> Cellphones</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-desktop"></i>Computer & Office</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-cpu"></i>Consumer Electronics</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-home"></i>Home & Garden</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-high-heels"></i>Shoes</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-kite"></i>Outdoor fun</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="index.html">Home</a>
                <ul class="dropdown">
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="index-2.html">Home 2</a></li>
                  <li><a href="index-3.html">Home 3</a></li>
                  <li><a href="index-4.html">Home 4</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="shop-grid-right.html">shop</a>
                <ul class="dropdown">
                  <li>
                    <a href="shop-grid-right.html">Shop Grid – Right Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-grid-left.html">Shop Grid – Left Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-right.html">Shop List – Right Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-left.html">Shop List – Left Sidebar</a>
                  </li>
                  <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Single Product</a>
                    <ul class="dropdown">
                      <li>
                        <a href="shop-product-right.html"
                          >Product – Right Sidebar</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-left.html"
                          >Product – Left Sidebar</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-full.html"
                          >Product – No sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li><a href="shop-filter.html">Shop – Filter</a></li>
                  <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                  <li><a href="shop-cart.html">Shop – Cart</a></li>
                  <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                  <li><a href="shop-compare.html">Shop – Compare</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Mega menu</a>
                <ul class="dropdown">
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Women's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Dresses</a></li>
                      <li>
                        <a href="shop-product-right.html">Blouses & Shirts</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html"
                          >Hoodies & Sweatshirts</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-right.html">Women's Sets</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Men's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Jackets</a></li>
                      <li>
                        <a href="shop-product-right.html"
                          >Casual Faux Leather</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-right.html">Genuine Leather</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="#">Technology</a>
                    <ul class="dropdown">
                      <li>
                        <a href="shop-product-right.html">Gaming Laptops</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html">Ultraslim Laptops</a>
                      </li>
                      <li><a href="shop-product-right.html">Tablets</a></li>
                      <li>
                        <a href="shop-product-right.html">Laptop Accessories</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html">Tablet Accessories</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">Blog</a>
                <ul class="dropdown">
                  <li>
                    <a href="blog-category-grid.html">Blog Category Grid</a>
                  </li>
                  <li>
                    <a href="blog-category-list.html">Blog Category List</a>
                  </li>
                  <li>
                    <a href="blog-category-big.html">Blog Category Big</a>
                  </li>
                  <li>
                    <a href="blog-category-fullwidth.html"
                      >Blog Category Wide</a
                    >
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Single Product Layout</a>
                    <ul class="dropdown">
                      <li><a href="blog-post-left.html">Left Sidebar</a></li>
                      <li><a href="blog-post-right.html">Right Sidebar</a></li>
                      <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="page-about.html">About Us</a></li>
                  <li><a href="page-contact.html">Contact</a></li>
                  <li><a href="page-account.html">My Account</a></li>
                  <li><a href="page-login-register.html">login/register</a></li>
                  <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                  <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                  <li><a href="page-terms.html">Terms of Service</a></li>
                  <li><a href="page-404.html">404 Page</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"
            ><img src="user_user_assets/imgs/theme/icons/icon-facebook.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_user_assets/imgs/theme/icons/icon-twitter.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_user_assets/imgs/theme/icons/icon-instagram.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_user_assets/imgs/theme/icons/icon-pinterest.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_user_assets/imgs/theme/icons/icon-youtube.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <main class="main">
    <section class="home-slider position-relative pt-25 pb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="position-relative">
              <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                <% banner.forEach(bannerItem => { %>
                <div class="single-hero-slider single-animation-wrap">
                  <div class="container">
                    <div class="slider-1-height-3 slider-animated-1">
                      <div class="hero-slider-content-2">
                        <h4 class="animated" style="color: white;"><%= bannerItem.subtitle || 'Limited Time Offer' %></h4>
                        <h2 class="animated fw-900" style="color: #fffdd0;"><%= bannerItem.title %></h2>
                        <h1 class="animated fw-900" style="color: #ffd700;"><%= bannerItem.description || 'On All Genres' %></h1>
                        <p class="animated" style="color: white;"><%= bannerItem.discountInfo || 'Save more with coupons & up to 70% off' %></p>
                        <a class="animated btn btn-brush btn-brush-2" href="/shop_page" style="color: white;"><%= bannerItem.ctaText || 'Shop Now' %></a>
                      </div>
                      <div class="slider-img">
                        <img src="<%= bannerItem.imageUrl %>" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
              <div class="slider-arrow hero-slider-1-arrow style-3"></div>
            </div>
          </div>
          <div class="col-lg-3 d-md-none d-lg-block">
            <div class="banner-img banner-1 wow fadeIn animated home-3">
              <img class="border-radius-10" src="user_assets/imgs/slider/smallBanner.jpeg" alt="">
              <div class="banner-text">
                <span style="color: white;">Special Collection</span>
                <h4 style="color:  #fffdd0;;" %>>Save 17% on <br>New Fiction</h4>
                <a href="/shop_page" style="color: #ffd700;">Shop Now <i class="fi-rs-arrow-right"></i></a>
              </div>
            </div>
            <div class="banner-img banner-2 wow fadeIn animated mb-0">
              <img class="border-radius-10" src="user_assets/imgs/slider/small2.jpeg" alt="">
              <div class="banner-text">
                <span style="color: #ffd700;">Exclusive Offer</span>
                <h4 style="color: #fffdd0;">Save 20% on <br>Bestsellers</h4>
                <a href="/shop_page" style="color:#ffd700;">Shop Now <i class="fi-rs-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
    
    <section class="product-tabs section-padding wow fadeIn animated">
      <div class="container">
        <div class="tab-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="nav-tab-one"
                data-bs-toggle="tab"
                data-bs-target="#tab-one"
                type="button"
                role="tab"
                aria-controls="tab-one"
                aria-selected="true"
              >
                New Arrivals
              </button>
            </li>
         
          </ul>
          <a href="/shop_page" class="view-more d-none d-md-flex"
            >View More<i class="fi-rs-angle-double-small-right"></i
          ></a>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content wow fadeIn animated" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="tab-one"
            role="tabpanel"
            aria-labelledby="tab-one"
          >
          <div class="row product-grid-4 ">
            <% pro.forEach(function(prod)  { %>
            <div class="col-lg-3 col-md-4 col-12 col-sm-6 mb-3">
              <div class="product-cart-wrap mb-30 ">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="/product_page?id=<%=prod._id%>">
                      <img class="default-img" src="/uploads/<%= prod.image[0] %>" alt="">
                      <img class="hover-img" src="/uploads/<%= prod.image[0] %>" alt="">
                    </a>
                  </div>
                  <div class="product-action-1">
                    
                   
                    
                </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="shop-grid-right.html"><%= prod.category %></a>
                  </div>
                  <h2><a href="shop-product-right.html"><%= prod.title %></a></h2>
                  <div class="rating-result" title="90%">
                    <span>
                      <span>90%</span>
                    </span>
                  </div>
                  <% if(prod.discountPrice>0) { %>
                    <div class="product-price">
                      <span>₹<%=prod.discountPrice %> </span>
                      <span class="old-price">₹<%=prod.price %></span>
                  </div>
                  
                 <% } else { %>
                  <div class="product-price">
                    <span>₹<%=prod.price %></span>
                  </div>
                  <% } %>
                  <% if(user) { %>
                  <div class="product-action-1 show">
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWhish('<%=prod._id %>')"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%=user._id%>','<%=prod._id %>')"><i class="fi-rs-shopping-bag-add"></i></a>
                  </div>
                  <% } else { %><div class="product-action-1 show">
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/login"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/login"><i class="fi-rs-shopping-bag-add"></i></a>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>
            <% }); %>
          </div>
          
           
          </div>
         
        </div>
       
      </div>
    </section>
 <section class="banner-2 section-padding pb-0">
  <div class="container">
    <div class="banner-img banner-big wow fadeIn animated f-none">
      <img src="user_assets/imgs/slider/banner0.jpg" alt="" />
      <div class="banner-text d-md-block d-none">
        <h4 class="mb-15 mt-40" style="color: #000000;">Children's Book Collection</h4>
        <h1 class="fw-600 mb-20" style="color: #2f2f2f;">
          Dive into a World of <br />Stories and Adventures
        </h1>
        <a href="/shop_page" class="btn" style="color: #dedbdb;">
          Explore Now <i class="fi-rs-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>


    <!-- <section class="mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="banner-bg wow fadeIn animated"
              style="
                background-image: url('user_user_assets/imgs/banner/banner-8.jpg');
              "
            >
              <div class="banner-content">
                <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                <h2 class="fw-600">
                  Happy <span class="text-brand">Mother's Day</span>. Big Sale
                  Up to 40%
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  </main>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<!-- SweetAlert JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
    function addToCart(userId, productId) {
        fetch(`/addToCart?userId=${userId}&productId=${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Handle success response
            if(data.success){
                window.location.href="/cart";
                console.log('Added to cart:', data);
            }else{
              Swal.fire({
                        title: "Oops",
                        text: data.message,
                        icon: "warning",
                        showCloseButton: true, // Show close button
                        confirmButtonText: 'Close' // Button text
                    });  

            }

            
            
            // Optionally, you can redirect the user to the cart page or show a success message
        })
        .catch(error => {
            // Handle error
            console.error('There was a problem with your fetch operation:', error);
        });
    }

    function addToWhish(productId){

        fetch(`/addToWishList?productId=${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Handle success response
            if(data.success){
              Swal.fire({
                        title: "Success",
                        text: data.message,
                        icon: "success",
                        showCloseButton: true, // Show close button
                        confirmButtonText: 'Close' // Button text
                    }); 
                console.log('Added to WishList:');
            }else{
              Swal.fire({
                        title: "Oops",
                        text: data.message,
                        icon: "warning",
                        showCloseButton: true, // Show close button
                        confirmButtonText: 'Close' // Button text
                    });  

            }

            
            
            // Optionally, you can redirect the user to the cart page or show a success message
        })
        .catch(error => {
            // Handle error
            console.error('There was a problem with your fetch operation:', error);
        });
    }

   
</script>

 
</body>
<%- include('../partials/userFooter.ejs') %>