<%- include('../partials/userHeader.ejs') %>
<body>
  <!-- Quick view -->

  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"
            ><img src="user_assets/imgs/theme/logo.svg" alt="logo"
          /></a>
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-dress"></i>Women's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-tshirt"></i>Men's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-smartphone"></i> Cellphones</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-desktop"></i>Computer & Office</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-cpu"></i>Consumer Electronics</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-home"></i>Home & Garden</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-high-heels"></i>Shoes</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-kite"></i>Outdoor fun</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="index.html">Home</a>
                <ul class="dropdown">
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="index-2.html">Home 2</a></li>
                  <li><a href="index-3.html">Home 3</a></li>
                  <li><a href="index-4.html">Home 4</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="shop-grid-right.html">shop</a>
                <ul class="dropdown">
                  <li>
                    <a href="shop-grid-right.html">Shop Grid – Right Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-grid-left.html">Shop Grid – Left Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-right.html">Shop List – Right Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-left.html">Shop List – Left Sidebar</a>
                  </li>
                  <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Single Product</a>
                    <ul class="dropdown">
                      <li>
                        <a href="shop-product-right.html"
                          >Product – Right Sidebar</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-left.html"
                          >Product – Left Sidebar</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-full.html"
                          >Product – No sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li><a href="shop-filter.html">Shop – Filter</a></li>
                  <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                  <li><a href="shop-cart.html">Shop – Cart</a></li>
                  <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                  <li><a href="shop-compare.html">Shop – Compare</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Mega menu</a>
                <ul class="dropdown">
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Women's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Dresses</a></li>
                      <li>
                        <a href="shop-product-right.html">Blouses & Shirts</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html"
                          >Hoodies & Sweatshirts</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-right.html">Women's Sets</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Men's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Jackets</a></li>
                      <li>
                        <a href="shop-product-right.html"
                          >Casual Faux Leather</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-right.html">Genuine Leather</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="#">Technology</a>
                    <ul class="dropdown">
                      <li>
                        <a href="shop-product-right.html">Gaming Laptops</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html">Ultraslim Laptops</a>
                      </li>
                      <li><a href="shop-product-right.html">Tablets</a></li>
                      <li>
                        <a href="shop-product-right.html">Laptop Accessories</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html">Tablet Accessories</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">Blog</a>
                <ul class="dropdown">
                  <li>
                    <a href="blog-category-grid.html">Blog Category Grid</a>
                  </li>
                  <li>
                    <a href="blog-category-list.html">Blog Category List</a>
                  </li>
                  <li>
                    <a href="blog-category-big.html">Blog Category Big</a>
                  </li>
                  <li>
                    <a href="blog-category-fullwidth.html"
                      >Blog Category Wide</a
                    >
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Single Product Layout</a>
                    <ul class="dropdown">
                      <li><a href="blog-post-left.html">Left Sidebar</a></li>
                      <li><a href="blog-post-right.html">Right Sidebar</a></li>
                      <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="page-about.html">About Us</a></li>
                  <li><a href="page-contact.html">Contact</a></li>
                  <li><a href="page-account.html">My Account</a></li>
                  <li><a href="page-login-register.html">login/register</a></li>
                  <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                  <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                  <li><a href="page-terms.html">Terms of Service</a></li>
                  <li><a href="page-404.html">404 Page</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"
            ><img src="user_assets/imgs/theme/icons/icon-facebook.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_assets/imgs/theme/icons/icon-twitter.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_assets/imgs/theme/icons/icon-instagram.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_assets/imgs/theme/icons/icon-pinterest.svg" alt=""
          /></a>
          <a href="#"
            ><img src="user_assets/imgs/theme/icons/icon-youtube.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="/" rel="nofollow">Home</a>
          <span></span> Shop
        </div>
      </div>
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="shop-product-fillter">
              <div class="sort-by-product-area">
                <div class="sort-by-cover mr-10">
                  <!-- Search input field -->
                  <input type="text" id="searchInput" placeholder="Search..." />
                </div>
                <div class="sort-by-cover">
                  <div class="sort-by-product-wrap">
                    <div class="sort-by">
                      <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                    </div>
                    <div class="sort-by-dropdown-wrap">
                      <span>
                        Featured <i class="fi-rs-angle-small-down"></i
                      ></span>
                    </div>
                  </div>
                  <div class="sort-by-dropdown">
                    <ul>
                      <li><a class="active"> Featured </a></li>
                      <li><a>Price: Low to High</a></li>
                      <li><a>Price: High to Low</a></li>
                      <li><a>Release Date</a></li>
                      <li><a>Avg. Rating</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product-grid-3" id="productGrid">
              <% pro.forEach(function(prod) { %>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/product_page?id=<%=prod._id%>">
                        <img
                          class="default-img"
                          src="/uploads/<%= prod.image[0] %>"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="/uploads/<%= prod.image[0] %>"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html"><%=prod.category %></a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"><%= prod.title %></a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>
                    <% if(prod.discountPrice) { %>
                      <div class="product-price">
                        <span><%=prod.discountPrice %> </span>
                        <span class="old-price"><%=prod.price %></span>
                    </div>
                    
                   <% } else { %>
                    <div class="product-price">
                      <span><%=prod.price %></span>
                    </div>
                    <% } %>
                    <% if(user) { %>
                      <div class="product-action-1 show">
                        <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWhish('<%=prod._id %>')"><i class="fi-rs-heart"></i></a>
                        <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%=user._id%>','<%=prod._id %>')"><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                      <% } else { %><div class="product-action-1 show">
                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/login"><i class="fi-rs-heart"></i></a>
                        <a aria-label="Add To Cart" class="action-btn hover-up" href="/login"><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                      <% } %>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <!--pagination-->
            <div class="pagination-area mt-15 mb-50">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <% for (let i = 1; i <= totalPages; i++) { %>
                  <li
                    class="page-item <%= currentPage === i ? 'active' : '' %>"
                  >
                    <a class="page-link" href="/shop_page?page=<%= i %>"
                      ><%= i %></a
                    >
                  </li>
                  <% } %>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3 primary-sidebar sticky-sidebar">
            <div class="widget-category mb-30">
              <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                Category
              </h5>
              <ul class="categories">
                <% cat.forEach(function(cats) { %>
                  <% if (cats.discount) {%>
                    <li ><a href="#"><%= cats.name %></a>  <a style="color: #088178"><%=cats.discount%>%off</a></li>
                  <%}else { %>
                    <li ><a href="#"><%= cats.name %></a></li>
                  <%}%>
                
                <% }); %>
              </ul>
            </div>
            <!-- Fillter By Price -->

            <!-- Product sidebar Widget -->
            <!-- <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="user_assets/imgs/shop/thumbnail-3.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                                    <p class="price mb-0 mt-5">$99.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="user_assets/imgs/shop/thumbnail-4.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                                    <p class="price mb-0 mt-5">$89.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="user_assets/imgs/shop/thumbnail-5.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                    <p class="price mb-0 mt-5">$25</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:60%"></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
            <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
              <img src="user_assets/imgs/banner/banner-11.jpg" alt="" />
              <div class="banner-text">
                <span>Women Zone</span>
                <h4>Save 17% on <br />Office Dress</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<!-- SweetAlert JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Add event listener for sort options
    const sortOptions = document.querySelectorAll(".sort-by-dropdown ul li a");
    sortOptions.forEach((option) => {
      option.addEventListener("click", function (event) {
        event.preventDefault();
        const sortOptionValue = option.innerText;
        currentPage = 1; // Reset current page
        applyFilters(sortOptionValue, selectedCategory); // Apply filters with sort option
      });
    });
  
    let currentPage = 1;
  
    // Add event listener for search input
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function () {
      currentPage = 1; // Reset current page
      applyFilters(null, selectedCategory);
    });
  
    let selectedCategory = null;
  
    // Add event listener for category links
    const categoryLinks = document.querySelectorAll('.categories a');
    categoryLinks.forEach(link => {
      link.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default link behavior
        const category = link.innerText; // Get the category text
        if (category !== selectedCategory) {
          prevSearchResults = [];
        }
        // Update the selectedCategory variable
        selectedCategory = category;
        currentPage = 1; // Reset current page
  
        // Remove active class from all category links
        categoryLinks.forEach(link => {
          link.classList.remove('active');
        });
  
        // Add active class to the clicked category link
        link.classList.add('active');
  
        applyFilters(null, selectedCategory);
      });
    });
  });
  
  let prevSearchResults = []; // Initialize an empty array to store previous search results
  let currentPage = 1;
  
  function applyFilters(sortOptionValue, category, page = 1) {
    // Get search input value
    const searchValue = document.getElementById("searchInput").value.trim();
    
    const requestBody = {
      prevSearchResults: prevSearchResults, // Include previous search results in the request body
      sortOption: sortOptionValue || "", // Pass empty string if sortOptionValue is falsy
      filterOption: category, // Pass empty string if category is falsy
      search: searchValue || "" // Pass empty string if searchValue is falsy
    };
  
    fetch(`/filter_product?page=${page}`, { // Pass page as query parameter
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(requestBody),
    })
    .then((response) => response.json())
    .then((data) => {
      // Update the prevSearchResults with the current search results
      prevSearchResults = data.products;
      currentPage = data.currentPage; // Update current page
  
      // Update UI with filtered products
      const productGrid = document.getElementById("productGrid");
      productGrid.innerHTML = ""; // Clear existing products
      data.products.forEach((prod) => {
        const productHTML = `
          <div class="col-lg-4 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="/product_page?id=${prod._id}">
                    <img class="default-img" src="/uploads/${prod.image[0]}" alt="">
                    <img class="hover-img" src="/uploads/${prod.image[0]}" alt="">
                  </a>
                </div>
              </div>
              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="shop-grid-right.html">${prod.category}</a>
                </div>
                <h2><a href="shop-product-right.html">${prod.title}</a></h2>
                <div class="rating-result" title="90%">
                  <span>
                    <span>90%</span>
                  </span>
                </div>
                ${prod.discountPrice ? 
                  `<div class="product-price">
                    <span>${prod.discountPrice}</span>
                    <span class="old-price">${prod.price}</span>
                  </div>` 
                  : 
                  `<div class="product-price">
                    <span>${prod.price}</span>
                  </div>`
                }
                <div class="product-action-1 show">
                  <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                </div>
              </div>
            </div>
          </div>
        `;
        productGrid.innerHTML += productHTML;
      });
  
      updatePagination(data.totalPages);
    })
    .catch((error) => console.log("An error occurred:", error));
  }
  
  function updatePagination(totalPages) {
    const paginationArea = document.querySelector('.pagination-area');
    const paginationList = paginationArea.querySelector('.pagination');
    paginationList.innerHTML = ''; // Clear existing pagination
  
    for (let i = 1; i <= totalPages; i++) {
      const pageItem = document.createElement('li');
      pageItem.classList.add('page-item', currentPage === i ? 'active' : '');
      
      const pageLink = document.createElement('a');
      pageLink.classList.add('page-link');
      pageLink.href = '#';
      pageLink.innerText = i;
      pageLink.addEventListener('click', function(event) {
        event.preventDefault();
        applyFilters(null, selectedCategory, i); // Apply filters with the selected page
      });
  
      pageItem.appendChild(pageLink);
      paginationList.appendChild(pageItem);
    }
  }
  </script>

<script>
  function addToCart(userId, productId) {
      fetch(`/addToCart?userId=${userId}&productId=${productId}`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(data => {
          // Handle success response
          if(data.success){
              window.location.href="/cart";
              console.log('Added to cart:', data);
          }else{
            Swal.fire({
                      title: "Oops",
                      text: data.message,
                      icon: "warning",
                      showCloseButton: true, // Show close button
                      confirmButtonText: 'Close' // Button text
                  });  

          }

          
          
          // Optionally, you can redirect the user to the cart page or show a success message
      })
      .catch(error => {
          // Handle error
          console.error('There was a problem with your fetch operation:', error);
      });
  }

  function addToWhish(productId){

      fetch(`/addToWishList?productId=${productId}`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(data => {
          // Handle success response
          if(data.success){
            Swal.fire({
                      title: "Success",
                      text: data.message,
                      icon: "success",
                      showCloseButton: true, // Show close button
                      confirmButtonText: 'Close' // Button text
                  }); 
              console.log('Added to WishList:');
          }else{
            Swal.fire({
                      title: "Oops",
                      text: data.message,
                      icon: "warning",
                      showCloseButton: true, // Show close button
                      confirmButtonText: 'Close' // Button text
                  });  

          }

          
          
          // Optionally, you can redirect the user to the cart page or show a success message
      })
      .catch(error => {
          // Handle error
          console.error('There was a problem with your fetch operation:', error);
      });
  }

 
</script>
  

<%- include('../partials/userFooter.ejs') %>
